<main class="main-section ks-bg-col">
    <div class="ks-content">
        <section class="ks-payment-cancel">
            <div class="container py-lg-5">
                <div class="o_payment_processing py-5">
                    <div class="ks_section_box">
                        <div class="payment-fail-outer ">
                            <div class="text-center ">
                                <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center">
                                    <h2 class="font-35 f-w-600 ks-dark-text position-relative mr-sm-3">
                                        Processing Payment
                                    </h2>
                                    <div class="lds-dual-ring"></div>
                                    <!-- <div>
                                        <div *ngIf="isLoadingBool" class="loading-indicator">
                                            <div class="loader " >
                                                <div class="loader-inner">
                                                    <div class="loader-line-wrap">
                                                        <div class="loader-line"></div>
                                                    </div>
                                                    <div class="loader-line-wrap">
                                                        <div class="loader-line"></div>
                                                    </div>
                                                    <div class="loader-line-wrap">
                                                        <div class="loader-line"></div>
                                                    </div>
                                                    <div class="loader-line-wrap">
                                                        <div class="loader-line"></div>
                                                    </div>
                                                    <div class="loader-line-wrap">
                                                        <div class="loader-line"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="mx-auto payment-failed-container my-sm-4 mb-4">
                                    <p class="mb-1">Please wait, we are processing your payment!!</p>
                                </div>
                                <div class="my-4">
                                    <img src="../../../assets/images/icons/cash-payment.png" alt="cash-img" class="img-fluid" width="150" height="150">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
